
.main{
     width: 80%;
     max-width: 1200px;
     margin: auto;
     margin-top: 20px;
    
}
.main-core{
 display: flex;  
color: white;
}

.img-main{
    position: relative;
    font-family: Noto Sans;
   font-size: 30px;
   font-weight: bold;
line-height: 35px;
backdrop-filter: blur(1px); 
}

.img-main img{
    width: 700px;
height: 400px;
opacity: 0.6;
}

.img-main p{
    width: 600px;
    height: 300px;
    border: solid white;
 position: absolute;
 bottom: 20px;
 padding-left: 50px;
  padding-top: 30px;
margin-left: 25px;
background-color: rgba(21, 41, 66, 0.219);

}

.main-right {
 
    margin-left: 50px;
}

.main-right p:nth-child(1){
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 42px;
text-indent: 1px;
color: #FFFFFF;
}

.main-right p:nth-child(2){
    margin-top: 40px;
    font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 24px;
line-height: 30px;
text-indent: 1px;
color: #FFFFFF;
}

.main-right button{
display: flex;
margin-top: 45px;
opacity: 0.4;
border: 2px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
font-family: Roboto;
font-size: 20px;

}

.row1{
     margin-top: 50px;
}

.row1 ul{
    width: 90%;
    margin:auto;
    max-width: 1100px;
    list-style: none;
    display: flex;
    color: white;
    margin-bottom: 50px;
}

.row1 ul li{
    margin: auto;
    font-family: Roboto;
    font-size: 18px;
line-height: 22px;
width: 120px;

}



/** ############# Media Query ################### **/

@media only screen and (max-width: 1250px) {
  
    .main{
     width: 90%;
     max-width: 1100px;
     margin: auto;
     margin-top: 20px;
   
}
.img-main img{
    width: 700px;
height: 400px;
opacity: 0.6;
}

.img-main p{
    font-size: 28px;
    width: 500px;
    height: 300px;
    bottom: 0px;
    line-height: 30px;
 }

.main-right {
     margin-left: 30px;
    
}

.main-right p:nth-child(1){
    font-size: 24px;
line-height: 24px;

}

.main-right p:nth-child(2){
    font-size: 20px;
line-height: 24px;
text-indent: 1px;
color: #FFFFFF;
}







}

@media only screen and (max-width: 800px) {

    .main{
     width: 90%;
     max-width: 600px;
     margin: auto;
     margin-top: 80px;
   
}

.main-core{
    display: block;}

.img-main img{
    margin: auto;
    width: 550px;
height: 400px;
opacity: 0.6;
}

.img-main p{
    width: 450px;
    height: 300px;
 margin-left: 25px;
font-size: 24px;
bottom: 0px;}

 .main-right {
     width: 100%;
     margin: auto;
     margin-left: 0px;
}
.main-right p{
    margin: auto;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
}

.main-right button{
margin: auto;
margin-top: 30px;
}


}


